ul {
   list-style-type: none;
   margin-top:-8px;
   padding: 0.25rem;
   overflow-x: hidden;
   white-space: nowrap;
   padding: 0px 50px;
  /* kkground: rgba(103, 112, 103, 0.3) /* Green background with 30% opacity */
}

li {
   float: left;
}

#hello {
   font-family: Verdana, Geneva, Tahoma, sans-serif ;	
   font-style:normal;
   display: block;
   color: rgb(0, 0, 0);
   text-align: center;
   padding: 1.5rem;
   text-decoration: none;
   position: relative;
}

#hello {
    display: inline-block;
  }

#hello:after {
    content: '';
    width: 0px;
    height: 0.15rem;
    display: block;
    background: black;
    transition: 300ms;
  }
  
#hello:hover:after {
    width: 100%;
}

li c {
   font-family: Verdana, Geneva, Tahoma, sans-serif ;
   font-style:normal;
   font-weight: 900;
   display: block;
   color: rgb(0, 0, 0);
   text-align: center;
   padding: 16px;
   text-decoration: none;
}

object:hover{
   box-shadow: 0 0 6px 6px #006354;
}
                         
body{
  background-image: url('bg.png');
  background-repeat: no-repeat; 
  background-size: cover; 
}
 
#a{

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left:40px;
}
.t1{
  margin-top: 100px;
  font-weight: bolder;
  font-size: 60px;
  margin-bottom: 50px;
}
.t2{
  font-size: x-large;
  color: grey;
}

.bg1{
    height:1000px;
    /*background: rgba(103, 112, 103, 0.3) /* Green background with 30% opacity */
}
.re:hover{
  color:rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.dropbtn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border-radius: 0px;
  border: 0px;
  padding:30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(201, 201, 201);}

#it{
  background-color: rgb(255, 255, 255);
  width:fit-content;
  margin-left:40px;}


.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.contain{
  background: #160053;
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.search-bar{
  background: #fff;
  width: 90%;
  max-width: 800px;
  display:flex;
  padding: 2px;
  border-radius: 4px;

}
#select{
  background: #160053;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width:300px;
  padding: 25px 20px;
  cursor: pointer;
  position: relative;
}
#select img{
  width: 15px;
}
#select ul{
  position: absolute;
  top: 120%;
  left:0;
  list-style: none;
  background: #fff;
  color: #555;
  width: 100%;
  border-radius: 4px;
}
#select ul li{
  padding: 10px 20px;
  cursor: pointer;
}
.search-bar input{
  padding: 10px 25px ;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}
/* For Sale */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700')



b{
  transition: all 0.4s 0s;
} 

*{
  margin: 0px;
  padding: 0px;
}  
.body1{
  background: rgba(20, 14, 201, 0.2);
  font-family: 'Poppins', sans-serif;
  align-items: top;
  justify-content:center;
  display: flex;
} 
.cover{
  width: 1100px;
  height: 370px;
  background: rgba(8, 2, 85, 0.615);
  margin-top: 50px;
  display: flex;
}
.box{
  margin: 10px;
  width: 800px;
  height: 330px;
  box-shadow: -1px 0 10px #07c9ff;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  background-color: rgba(211, 204, 244, 0);
  color:white;
}
.img{
  width: 320px;
  height: 200px;
  display: flex;
} 
.button{
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgb(6, 90, 45);
  border-radius: 5px;
  padding: 10px;
}
.button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}

/* Contact us */
/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav{
  width: 100%;
  height: 75px;
  line-height: 75px;
  padding: 0px 100px;
  position: top;
  background-image: linear-gradient(#dec6e2,#c0b0c3);
}
nav .logo p{
  font-size: 30px;
  font-weight: bold;
  float: left;
  color: rgb(0, 2, 6);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
nav ul{
  float: right;
}
nav li{
  display: inline-block;
  list-style: none;
}
nav li a{
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 30px;
  color: rgb(0, 3, 5);
  text-decoration: none;
} */
nav li a:hover{
  color: rgb(16, 16, 234);
  transition: all 0.4s ease 0s;
}

*{
  margin: 0;
  padding: 0;
}

.container1{
  width: 80%;
  margin: 50px auto;
}
.contact-box{
  background: white;
  display: flex;
}
.contact-left{
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-right{
  flex-basis: 40%;
  padding: 40px;
  background: darkblue;
  color: white;
}
h1{
  margin-bottom: 10px;
}
.container p{
  margin-bottom: 40px;
}
.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group{
  flex-basis: 45%;
}
input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
textarea{
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
label{
  margin-bottom: 6px;
  display: block;
  color: darkblue;
}
.button{
  background: darkblue;
  width: 100px;
  border: none;
  outline: none;
  color: white;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-left h3{
  color: darkblue;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact-right h3{
  font-weight: 600;
  margin-bottom: 30px;
}
tr td:first-child{
  padding-right: 20px;
}
tr td{
  padding-top: 20px;
}

select {
  background-color: #fff;
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  outline: none;
  scroll-behavior:smooth;
}
.but{
  background-color: #fff;
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  transition: 0.5s;
}
.but:hover{
  background-color: rgb(202, 202, 202);
}
.s1{
  padding: 20px; 
  padding-right: 90px;
  color: grey;
  font-size: larger; 
  transition: 0.5s;
}
.s1:hover{
  background-color: rgb(202, 202, 202);
}
#here{
  outline: none;
  border:none;
  padding: 20px; 
  transition: 0.5s;
  color: grey;
  font-size: larger; 
}
#here:hover{
  background-color:rgb(202, 202, 202);
}
/* #here::selection{
  background-color: rgb(202,202,202);
} */
.para{
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  padding: 10px;
  font-weight: bold;
}
#water{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: 700px;
  opacity: 0.5;
}
/* -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5); */